@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

:root {
  box-sizing: border-box;
  --color-1: #de7191;
  --color-2: #ddaab5;
  --color-3: #9f6467;
  --color-4: #cecfcf;
  --font-1: "Fugaz One";
  --primary-color: #007bff;
  --hover-color: #0056b3;
  --navbar-bg-color: rgba(0, 0, 0, 0.5);
  --navbar-hover-bg-color: rgba(0, 0, 0, 0.8);
}

body {
  background-color: var(--color-2);
}
