.footerContainer {
  display: flex;
  flex-direction: column; /* Alignement en colonne par défaut pour mobile */
  justify-content: center;
  text-align: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-1);
  padding: 1rem;
}

.meetButtonFooter {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1rem;
}

.meetButtonBottom {
  display: flex;
  justify-content: center;
  background-color: var(--color-2);
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  text-decoration: none;
}

.meetButtonBottom:hover,
.meetButtonBottom:focus {
  background-color: var(--color-3);
  transform: scale(1.05);
}

// MOBILE

@media (min-width: 768px) {
  .footerContainer {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
  }

  .meetButtonFooter {
    margin-top: 0;
  }
}
