.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.primaryTitle,
.secondaryTitle {
  font-size: 3rem;
}

.avatar {
  align-items: center;
  height: 500px;
}

.sectionTitles {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  margin: 1rem;
  border-radius: 10px;
}

article > img {
  height: 350px;
}

.sectionCils {
  background-color: black;
  color: white;
}

.buttonMore {
  background-color: #de7191;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonMore:hover {
  background-color: #c22f79;
}

.buttonMore:focus {
  outline: none;
}

.cardTitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
