.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3rem;
}
.primaryTitle {
  font-size: 3rem;
  color: var(--color-1);
  font-family: var(--font-1);
}

.avatar {
  align-items: center;
  height: 500px;
}

.meetButton {
  display: flex;
  justify-content: center;
  background-color: var(--color-1);
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sectionTitle {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  background-color: var(--color-2);
  font-family: var(--font-1);
}

.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--color-2);
  margin: 3rem;
}

.articlesContent {
  display: flex;
  background-color: var(--color-1);
  margin: 1rem;
  border-radius: 10px;
  width: calc(50% - 2rem);
  height: auto;
  padding: 1rem;
}

.articlesContent img {
  height: auto;
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
}

.buttonDetail {
  background-color: var(--color-2);
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  margin: 0;
  margin-left: 1rem;
}

.buttonDetail:hover {
  background-color: #c22f79;
}

.buttonDetail:focus {
  outline: none;
}
