.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.primaryTitle,
.secondaryTitle {
  font-size: 3rem;
  color: var(--color-1);
}

.avatar {
  align-items: center;
  height: 500px;
}

.sectionTitles {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  background-color: var(--color-2);
}

.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--color-2);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.articleContent,
article {
  opacity: 0;
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  &.is-visible {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 0.5s forwards;
  }
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-1);
  margin: 1rem;
  border-radius: 10px;
}

article > img {
  height: 350px;
}

.sectionCils {
  color: white;
}

.buttonMore {
  background-color: var(--color-2);
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonMore:hover {
  background-color: #c22f79;
}

.buttonMore:focus {
  outline: none;
}

.cardTitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
