.navbar-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .navbar {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      padding: 2rem;
      color: var(--color-4);
    }
  }
}

@media (max-width: 768px) {
  .navbar-desktop {
    display: none;
  }
}
