// .navbar-desktop {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1000;

//   .navbar {
//     display: flex;
//     justify-content: flex-end;
//     font-size: 2rem;
//     background-color: rgba(0, 0, 0, 0.5);
//     transition: background-color 0.3s ease;

//     &:hover {
//       background-color: rgba(0, 0, 0, 0.8);
//     }

//     li {
//       list-style: none;
//     }

//     a {
//       text-decoration: none;
//       padding: 2rem;
//       color: var(--color-4);
//     }
//   }
// }

// @media (max-width: 768px) {
//   .navbar-desktop {
//     display: none;
//   }
// }
.navbarMobileContainer {
  display: none;
}

.navIcon {
  width: 4rem;
  padding: 6px 12px;
  filter: drop-shadow(10px 7px 10px rgb(71, 1, 92));
}

.navbar-desktop {
  display: flex;
  position: fixed;
  top: 0;
  text-align: center;
  align-items: center;
  opacity: 0.8;
  background-color: var(--color-2);
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  z-index: 1000;

  &:hover {
    opacity: 1;
    background-color: var(--color-3);
  }
}

.navbarTop {
  display: flex;
  list-style: none;
  padding-right: 1.5rem;
}

.navbarContent {
  display: flex;
  padding-right: 4rem;

  a {
    font-size: calc(0.6rem + 1vw);
    text-decoration: none;
    color: white;
  }
}

.logoDesktop {
  width: 120px;
}

// MEDIA QUERY POUR MOBILE

@media (max-width: 767px) {
  .navbar-desktop {
    display: none;
  }
  .navbarMobileContainer {
    display: none;
    background-color: var(--color-2);
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    opacity: 0.8;
    transition:
      background-color 0.3s ease,
      opacity 0.3s ease;

    &:hover {
      opacity: 1;
      background-color: var(--hover-color);
    }

    nav {
      menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
          list-style: none;

          a {
            padding: 0;
          }
        }
      }
    }
  }

  .navbarMobileContainer {
    display: block;
    background-color: var(--navbar-bg-color);
    transition:
      background-color 0.3s ease,
      opacity 0.3s ease;

    &:hover {
      opacity: 1;
      background-color: var(--navbar-hover-bg-color);
    }
  }
}
