.navbarMobileContainer {
  display: none;
}

.navIcon {
  width: 4rem;
  padding: 6px 12px;
  filter: drop-shadow(10px 7px 10px rgb(71, 1, 92));
}

.navbar-desktop {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;
  background-color: var(--color-2);
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  z-index: 1000;

  &:hover {
    opacity: 1;
    background-color: var(--color-3);
  }
}

.left-section {
  display: flex;
  align-items: center;
}

.logoDesktop {
  width: 120px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.meetButtonHome {
  background-color: var(--color-1);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--color-2);
    transform: scale(1.05);
  }
}

.navbarTop {
  display: flex;
  list-style: none;
  padding-right: 1.5rem;
  margin: 0;
}

.navbarContent {
  margin: 0 1rem;

  a {
    font-size: calc(0.6rem + 1vw);
    text-decoration: none;
    color: white;
    transition:
      color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      color: var(--hover-color);
      transform: scale(1.1);
    }
  }
}

// MEDIA QUERY POUR MOBILE

@media (max-width: 767px) {
  .navbar-desktop {
    display: none;
  }
  .navbarMobileContainer {
    display: block;
    background-color: var(--color-2);
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    opacity: 0.8;
    transition:
      background-color 0.3s ease,
      opacity 0.3s ease;

    &:hover {
      opacity: 1;
      background-color: var(--hover-color);
    }

    nav {
      menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
          list-style: none;

          a {
            padding: 0;
          }
        }
      }
    }
  }

  .navbarMobileContainer {
    display: block;
    background-color: var(--navbar-bg-color);
    transition:
      background-color 0.3s ease,
      opacity 0.3s ease;

    &:hover {
      opacity: 1;
      background-color: var(--navbar-hover-bg-color);
    }
  }
}
